<% if @pokemons.present? %>
  <h1>Pokemons:</h1>

  <ul>
    <% @pokemons.each do |pokemon| %>
        <li><b>Nome:</b> <%= pokemon[:name] %> # <%= pokemon[:id] %></li>
        <li><b>Experience:</b> <%= pokemon[:experience] %></li>
        <%= button_to "Vender #{pokemon[:name].capitalize}", sell_pokemon_path(pokemon.id) %>
        </p>
    <% end %>
  </ul>
<% end %>

<h1>Registrar novo pokemon:</h1>

<%= form_with url: '/pokemons', method: :post, local: true do |form| %>
  <%= form.label :name, 'Nome do pokemon:' %>
  <%= form.text_field :name %>
  <%= form.submit 'Registrar' %>
<% end %>

<p> <%= link_to 'Voltar', profile_path %> </p>
