<h1>Pokemon: <%= @pokemon[:name].capitalize %></h1>
<b>Types:</b>

<ul>
    <% @pokemon[:types].each do |types| %>
        <li><%= types[:type][:name].capitalize %></li>
    <% end %>
</ul>

<p>
    <b>Base experience:</b>
    <%= @pokemon[:base_experience] %>
</p>

<% @pokemon[:stats].each do |stat| %>
    <p>
        <b><%= stat[:stat][:name].capitalize %>:</b>
        <%= stat[:base_stat] %>
    </p>
<% end %>

<p> <%= link_to 'Voltar', root_path %> </p>
