<!DOCTYPE html>
<html>
  <head>
    <title>PokeCoin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", data: { "turbo-track": "reload" } %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <h1>Bem-vindo a Pokecoin!</h1>
      <% unless user_signed_in? %>
        <p><%= link_to 'Entrar', new_user_session_path %></p>
      <% end %>
    </nav>
    <div class="container">
      <%= notice %>
      <%= alert %>
      <%= yield %>
    </div>
  </body>
</html>
